<!DOCTYPE html>
<html>
<head>
	<title>TODOS</title>
</head>
<body>
<div id="app">
	<router-link to="/create">Create TODOList</router-link>
	<router-view></router-view>
	<todolist-view></todolist-view>
</div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
<script type="text/javascript">

var todolistComponent = Vue.component('todolist-view', {
	methods: {
		removeTodo: function(id) {
			this.$store.dispatch('removeTodoListItem', id)
		}
	},
	computed: {
		todolistdata() {
			return this.$store.getters.getTodoList;
		}
  	},
	created() {
        this.$store.dispatch('getTodoList');
	},
  	template:
  	`<div class="panel todo-controls">
    	<template v-for="todolist in todolistdata">
    	<transition>
        <label class="panel-block task">
        	<div class="item">
        		<div class="item-check">
                    <input type="checkbox" v-bind:checked="todolist.Done" v-bind:name="todolist.ID">
        		</div>
        		<div class="item-name">
            		{{ todolist.Title }}
        		</div>
    			<button @click="removeTodo(todolist.ID)" class="delete" aria-label="delete"></button>
        	</div>
            <ol>
                <li v-for="todo in todolist.Todos">
	                {{ todo.Name }}
                    <input type="checkbox" v-bind:checked="todo.Done" v-bind:name="todo.ID">
                </li>
            </ol>
        </label>
    	</transition>
    	</template>
	</div>`
})

var createTodoListComponent = Vue.component('createtodolist-view', {
	data: function() {
		return {
			response: null
		}
	},
	methods: {
		createTodoList: function() {
			this.$store.dispatch('addTodoListItem', this.$refs.title.value);
		}
	},
  	template: 
  	`<nav class="panel todo-controls">
	    <div class="panel-heading">
	        Todo List App
	    </div>
	    <form class="panel-block" @submit.prevent>
			<div class="field is-grouped">
				<div class="control is-expanded is-medium"
					v-bind:class="{ active: is-loading }">
						<input class="input is-medium" type="text" placeholder="Type something here..." name="title" ref="title">
				</div>
				<button class="button is-medium is-info" v-on:click="createTodoList()">Add</button>
			</div>
		</form>
	    <div class="panel-tabs">
	        <a class="is-active">All</a>
	        <a>Complete</a>
	        <a>Done</a>
	    </div>
	    <div class="wrapper">
			<div class="row">
				{{ response }}
			</div>
		</div>
	</nav>`
})





const routes = [
	{ path: '/', todolistComponent },
	{ path: '/create', component: createTodoListComponent },
]

const router = new VueRouter({
	routes, // short for `routes: routes`
})

const store = new Vuex.Store({
	state: {
		todolist: []
	},
	mutations: {
		setTodoList(state, todolist) {
			state.todolist = todolist;
		},
		removeTodoListItem(state, todolistitem) {
			var index = state.todolist.findIndex(todo => todo.ID === todolistitem);
            state.todolist.splice(index, 1);
		}
	},
	actions: {
		getTodoList({ commit }) {
			axios
				.get('api/get_todolist')
				.then(response => {
					commit('setTodoList', response.data)
				})
		},
		addTodoListItem({ commit }, text) {
			axios.post('api/create', {
				title: text
			})
			.then(xhr => {
				this.response = xhr.data;
				this.dispatch('getTodoList')
			})
			.catch(xhr => {
				this.response = xhr.status;
				console.error('err')
			});
		},
		removeTodoListItem({ commit }, todolistitem) {
			console.log('Remove List-item with ID', todolistitem);

			const params = new URLSearchParams();
			params.append('todolist_id', todolistitem);

			axios.post('api/remove', params)
			.then(xhr => {
				commit('removeTodoListItem', todolistitem);
				this.response = xhr.data;
				// this.dispatch('getTodoList')
			})
			.catch(xhr => {
				this.response = xhr.status;
				console.error('Failed ->', xhr)
			});
		}
	},
	getters: {
		getTodoList: state => {
			return state.todolist
		}
  	}
})

const app = new Vue({
	router,
	store,
	el: '#app',
}).$mount('#app')

</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"></link>
<link rel="stylesheet" href="resources/css/style.css"></link>
</html>
