<!DOCTYPE html>
<html>
<head>
	<title>TODOS</title>
</head>
<body>
<div id="app">
	<todolist-view></todolist-view>	
	<router-link to="/create">Create TODOList</router-link>
	<router-view>
	</router-view>
</div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">

var todolistComponent = Vue.component('todolist-view', {
	data: function() {
		return {
			todolistdata: null
		}
	},
	mounted() {
		axios
			.get('api/get_todolist')
			.then(response => (this.todolistdata = response.data))
	},
  	template: '<div><h1>TODO App!</h1><ol><li v-for="todolist in todolistdata">{{ todolist.Title }}<ol><li v-for="todo in todolist.Todos">{{ todo.Name }}<input type="checkbox" v-bind:checked="todo.Done" v-bind:name="todo.ID"></li></ol></li></ol></div>'
})

var createTodoListComponent = Vue.component('createtodolist-view', {
	data: function() {
		return {
			response: null
		}
	},
	methods: {
		createTodoList: function() {
			axios.post('api/create', {
				title: this.$refs.title.value
			})
			.then(xhr => {
				this.response = xhr.data;
				setTimeout(() => {
					console.log(todolistComponent);
					todolistComponent.forceUpdate();
					//this.$router.push("/");	
				}, 1);
				
			})
			.catch(xhr => {
				this.response = xhr.status;
			});
		}
	},
  	template: 
  	`<div>
  		<form @submit.prevent>
  			<label>Title:</label>
  			<input type="text" name="title" ref="title"><br /><br />
  			<button v-on:click="createTodoList()">Submit</button>
  		</form>
  		<div class="wrapper">
			<div class="row">
				{{ response }}
			</div>
		</div>
	</div>`
})

const routes = [
	{ path: '/', todolistComponent },
	{ path: '/create', component: createTodoListComponent },
]

const router = new VueRouter({
	routes, // short for `routes: routes`
})

const app = new Vue({
	router,
	el: '#app',
}).$mount('#app')
	
</script>

</html>