<!DOCTYPE html>
<html>
<head>
	<title>TODOS</title>
</head>
<body>
<div id="app">
	<todolist-view></todolist-view>	
	<router-link to="/create">Create TODOList</router-link>
	<router-view>
	</router-view>
</div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
<script type="text/javascript">

var todolistComponent = Vue.component('todolist-view', {
	methods: {
		removeTodo: function(id) {
			this.$store.dispatch('removeTodoListItem', id)
		}
	},
	computed: {
		todolistdata() {
			return this.$store.getters.getTodoList;
		}
  	},
	created() {
        this.$store.dispatch('getTodoList');
	},
  	template:
  	`<div>
	    <h1>TODO App!</h1>
	    <ol>
	        <li v-for="todolist in todolistdata"
                class="task"
                @dblclick="removeTodo(todolist.ID)">
                {{ todolist.Title }}
	            <ol>
	                <li v-for="todo in todolist.Todos">
		                {{ todo.Name }}
	                    <input type="checkbox" v-bind:checked="todo.Done" v-bind:name="todo.ID">
	                </li>
	            </ol>
	        </li>
	    </ol>
	</div>`
})

var createTodoListComponent = Vue.component('createtodolist-view', {
	data: function() {
		return {
			response: null
		}
	},
	methods: {
		createTodoList: function() {
			this.$store.dispatch('addTodoListItem', this.$refs.title.value);
		}
	},
  	template: 
  	`<div>
  		<form @submit.prevent>
  			<label>Title:</label>
  			<input type="text" name="title" ref="title"><br /><br />
  			<button v-on:click="createTodoList()">Submit</button>
  		</form>
  		<div class="wrapper">
			<div class="row">
				{{ response }}
			</div>
		</div>
	</div>`
})

const routes = [
	{ path: '/', todolistComponent },
	{ path: '/create', component: createTodoListComponent },
]

const router = new VueRouter({
	routes, // short for `routes: routes`
})

const store = new Vuex.Store({
	state: {
		todolist: []
	},
	mutations: {
		setTodoList(state, todolist) {
			state.todolist = todolist;
		},
		removeTodoListItem(state, todolistitem) {
			axios.post('api/remove', {
				id: todolistitem
			})
			.then(xhr => {
	            var index = state.todolist.findIndex(todo => todo.ID === todolistitem);
	            state.todolist.splice(index, 1);
				this.response = xhr.data;
				// this.dispatch('getTodoList')
			})
			.catch(xhr => {
				this.response = xhr.status;
				console.error('err')
			});
		}
	},
	actions: {
		getTodoList({ commit }) {
			axios
				.get('api/get_todolist')
				.then(response => {
					commit('setTodoList', response.data)
				})
		},
		addTodoListItem({ commit }, text) {
			axios.post('api/create', {
				title: text
			})
			.then(xhr => {
				this.response = xhr.data;
				this.dispatch('getTodoList')
			})
			.catch(xhr => {
				this.response = xhr.status;
				console.error('err')
			});
		},
		removeTodoListItem({ commit }, todolistitem) {
			commit('removeTodoListItem', todolistitem);
		}
	},
	getters: {
		getTodoList: state => {
			return state.todolist
		}
  	}
})

const app = new Vue({
	router,
	store,
	el: '#app',
}).$mount('#app')

</script>

</html>
